.detail-container {
    
}
.detail-container .content {
    width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.content .back-icon-container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

.back-icon-container .icon-back {
    font-size: 30px;
    cursor: pointer;
} 

.content .title-detail {
    color: #404040;
    padding-left: 52px;
    line-height: 20px;
    font-size: 15px;
    font-weight: 600;
    word-wrap: break-word;
    padding-bottom: 30px;
}

.dua .comments-detail {
    display: flex;
    flex-direction: column;
}

.comments-detail .comments-status {
    display: flex;
}

.comments-detail .all-comment-title {
    padding: 30px 0;
    font-size: 15px;
    font-weight: 700;
    word-wrap: break-word;
    color: #404040;
}

.comments-detail .comments-status {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.comments-status .comment-name {
    line-height: 20px;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: bold;
    margin-right: 15px;
    word-wrap: break-word;
    width: 30%;
}

.comments-status .comment-text {
    line-height: 20px;
    color: #cfd8dc;
    font-size: 15px;
    font-weight: 400;
    word-wrap: break-word;
    width: 100%;
}