.home-container {
    padding-bottom: 70px;
}
.home-container .content {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.content .search-bar {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    background-color: rgb(239, 243, 244);
    border-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 9999px;
}

.search-bar .searcy-input-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.searcy-input-label .input-search {
    width: 100%;
    border-radius: 9999px;
    border: none;
    align-self: stretch;
}

.input-search input {
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: center;
    padding: 10px;
}

.input-search input:focus { 
    outline: none !important;
 }

.searcy-input-label .container-icon {
    display: flex;
    justify-content: center;
}

.container-icon .icon-search {
    color: rgb(83, 100, 113);
    height: 1.25em;
    fill: currentColor;
    display: inline-block;
    user-select: none;
    width: 32px;
    padding-right: 10px;
}

.content .posts {
    display: flex;
    margin-bottom: 30px;
}

.posts .satu {
    line-height: 20px;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: bold;
    padding-right: 26px;
}

.posts .dua {
    
}

.dua .text-post {
    line-height: 20px;
    color: #cfd8dc;
    font-size: 15px;
    font-weight: 400;
    word-wrap: break-word;
}

.dua .comments-detail {
    display: flex;
}

.comments-detail-container {
    display: flex;
    align-items: center;
    padding-top: 10px;
    width: 120px;
    justify-content: space-between;
}

.comments-detail-container .comments-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.icon-comment-container {
    cursor: pointer;
}

.icon-comment-container .icon-comment {
    width: 1.15em;
    display: inline-block;
    height: 1.15em;
    user-select: none;
    fill: currentColor;
    vertical-align: text-bottom;
    color: #5b94ed;
    margin-right: 10px;
}

.comments-container .count-comments {
    font-size: 12px;
    color: #5b94ed;
    font-weight: 800;
    cursor: pointer;
}

.comments-detail-container .detail-btn {
    font-size: 14px;
    color: #5b94ed;
    font-weight: 700;
    cursor: pointer;
}

.content .pagination {
    align-self: flex-end;
    margin-top: 30px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.pagination span {
    padding: 0px 8px;
    border: 1px solid gray;
    cursor: pointer;
    font-weight: 700;
}

.pagination span.next {
    border: none;
    color: #404040;
    font-size: 15px;
    font-weight: 700;
}

.pagination span.prev {
    border: none;
    color: #404040;
    font-size: 15px;
    font-weight: 700;
}

.pagination span.pagination__disable {
    border: none;
    color: #cfd8dc;
    cursor: context-menu;
}

.pagination .pagination__selected {
    font-size: 15px;
    color: #404040;
    font-weight: 700;
    border: none;
    border-bottom: 2px solid #5b94ed;
}

.pagination .unselected {
    font-size: 15px;
    color: #404040;
    font-weight: 700;
    border: none;
}

.react-loading {
    margin: auto;
}




